{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/authentication/css/login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/global/css/utils.css' %}">
    <title>Login - FITT</title>
</head>

<body>
    <div class="center">
        <div class="login__container">
            <form action="/login/" method="post" class="login__form">
                {% csrf_token %}
                <h1 class="login__header">Login</h1>
                <div class="login__form_container">

                    <div class="login__input_container">
                        <label for="username">Username</label>
                        {{ form.username }}
                    </div>

                    <div class="login__input_container">
                        <label for="password">Password</label>
                        {{ form.password }}
                    </div>

                    <button class="btn right" type="submit">Login</button>

                </div>
                <div class="login__button_container">
                    <a href="#">Forgot password?</a>
                    <a class="right" href="/signup">Create an account</a>
                </div>
            </form>
        </div>
    </div>
</body>

</html>