{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/authentication/css/signup.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/global/css/utils.css' %}">
    <title>Sign Up - FITT</title>
</head>

<body>
    <div class="center">
        <div class="signup__container">
            <form action="/signup/" method="post" class="signup__form">
                {% csrf_token %}
                <h1 class="signup__header">Sign Up</h1>
                <div class="signup__form_container">
                    <div class="signup__input_container">
                        <label for="username">Username</label>
                        {{ form.username }}
                    </div>

                    <div class="signup__input_container">
                        <label for="passowrd">Password</label>
                        {{ form.password }}
                    </div>

                    <div class="signup__input_container">
                        <label for="confirmpassowrd">Re-Enter Password</label>
                        {{ form.confirmpassword }}
                    </div>

                    <button type="submit">Sign Up</button>
                    <a class="right" href="#">Forgot password?</a>
                </div>
                <div class="signup__button_container">
                    <a class="right" href="/login">Already a member?</a>
                </div>
            </form>
        </div>
    </div>
</body>

</html>