{% extends 'user_base.html' %}

{% block title%}Login - FITT{% endblock %}
{% block content %}
    <div class="center">
        <div class="login__container">
            <form method="post" class="login__form">
                {% csrf_token %}
                <h1 class="login__header">Login</h1>
                <div class="login__form_container">

                    <div class="login__input_container">
                        <label class="login__label" for="username">Username</label>
                        <input class="login__input" id="{{ form.username.id_for_label }}"
                            name="{{ form.username.html_name }}" maxlength="20" type="text" placeholder="Enter Username"
                            required>
                    </div>

                    <div class="login__input_container">
                        <label class="login__label" for="password">Password</label>
                        <input class="login__input" id="{{ form.password.id_for_label }}"
                            name="{{ form.password.html_name }}" type="password" placeholder="Enter Password" required>
                    </div>

                    <button class="btn right" type="submit">Login</button>
                </div>
                <div class="login__button_container">
                    <a class="login__forgot_password" href="#">Forgot password?</a>
                    <a class="login__signup right" href="/users/signup">Create an account</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}