.nav__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 7px;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.nav__title {
    color: var(--clr-dark);
    font-size: var(--size-2xl);
    font-weight: 600;
    transition: color 0.25s;
}

.nav__menu {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 1em;
}

.nav__username {
    font-size: var(--size-lg);
    color: var(--clr-dark);
}

.nav__bars {
    display: none;
    width: var(--size-lg);
    height: var(--size-lg);
}

.nav__icon {
    width: var(--size-3xl);
    height: var(--size-3xl);
    color: var(--clr-dark);
    transition: 0.25s color;
}

.nav__icon:hover {
    color: rgba(34, 197, 94, 0.4);
}

.nav__profile_button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.nav__dropdown {
    display: inline-block;
    position: relative;
}

.nav__profile_content {
    border-radius: 2px;
    display: none;
    position: absolute;
    background-color: var(--clr-light);
    min-width: 100px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: .5em;
}

.nav__profile_content a {
    color: var(--clr-dark);
    padding: 0.5em;
    text-decoration: none;
    display: block;
}

.nav__profile_content a:hover {
    background-color: var(--clr-slate200);
}

.nav__profile_show {
    display: block;
}

.nav__settings_button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.nav__settings_content {
    border-radius: 2px;
    display: none;
    position: absolute;
    background-color: var(--clr-light);
    min-width: 100px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: .5em;
}

.nav__settings_content a {
    color: var(--clr-dark);
    padding: 0.5em;
    text-decoration: none;
    display: block;
}

.nav__settings_content a:hover {
    background-color: var(--clr-slate200);
}

.nav__settings_show {
    display: block;
}